<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>partImgStr</key>
		<string>car-icon</string>
		<key>partName</key>
		<string>结构部件</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>airbag-icon</string>
		<key>partName</key>
		<string>安全气囊</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>engine-icon</string>
		<key>partName</key>
		<string>发动机</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>box-icon</string>
		<key>partName</key>
		<string>变速箱</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>speedometer-icon</string>
		<key>partName</key>
		<string>里程表</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>kilometer-icon</string>
		<key>partName</key>
		<string>最大里程</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>record-icon</string>
		<key>partName</key>
		<string>重大事故记录</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>failure-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>fire-icon</string>
		<key>partName</key>
		<string>过火记录</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>water-icon</string>
		<key>partName</key>
		<string>泡水记录</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>quantity-icon</string>
		<key>partName</key>
		<string>记录条数</string>
		<key>partReportStr</key>
		<string>无异常记录</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
	<dict>
		<key>partImgStr</key>
		<string>dates-icon</string>
		<key>partName</key>
		<string>最后记录日期</string>
		<key>partReportStr</key>
		<string>2017-12-31</string>
		<key>accessoryImgStr</key>
		<string>tick-icon</string>
	</dict>
</array>
</plist>
